.service-page {
  &__head {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    border-radius: 8px;
    padding: 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @media screen and (width <=1200px) {
      padding: 60px;
    }

    @media screen and (width <=768px) {
      padding: 40px 24px;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(1, 160, 225, 0.8);
      border-radius: inherit;
    }
  }

  &__pulpit {
    background-image: url('../img/bg-image.jpg');
  }

  &__caries {
    background-image: url('../img/caries/bg.jpg');

    @media screen and (width <=768px) {
      background-image: url('../img/caries/bg-mobile.jpg');
    }
  }

  &__delete-tooth {
    background-image: url('../img/delete-tooth/bg.jpg');

    @media screen and (width <=768px) {
      background-image: url('../img/delete-tooth/bg-mobile.jpg');
    }
  }

  &__aside {
    @media screen and (width <=768px) {
      display: none;
    }
  }

  &__head-left,
  &__head-right {
    position: relative;
    z-index: 2;
  }

  &__head-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;

    @media screen and (width <=768px) {
      margin-right: 0;
    }
  }

  &__head-title {
    color: var(--white-color);

    @media screen and (width <=768px) {
      margin-bottom: 40px;
    }
  }

  &__head-btns {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    @media screen and (width <=1200px) {
      flex-direction: column;
    }
  }

  &__head-btn {
    @media screen and (width <=1200px) {
      width: 100%;
    }
  }

  &__head-btns-inner {
    display: flex;
    column-gap: 16px;
  }

  &__head-right {
    max-width: 480px;
    width: 100%;

    @media screen and (width <=768px) {
      display: none;
    }
  }

  &__head-right-mobile {
    display: none;
    font-size: 16px;
    margin-bottom: 40px;

    @media screen and (width <=768px) {
      display: block;
    }
  }

  &__head-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    color: var(--white-color);

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @media screen and (width <=768px) {
      font-size: 16px;
    }
  }

  &__aside {
    margin-right: 40px;
    flex-shrink: 0;
  }

  &__wrapper {
    display: flex;
  }

  &__text-block {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__img {
    width: 100%;
    margin-bottom: 40px;
  }

  &__methods {
    margin-bottom: 32px;
    padding: 0;
  }

  &__methods-item {
    display: flex;
    column-gap: 40px;

    @media screen and (width <=1200px) {
      flex-direction: column;
      row-gap: 16px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--line-color);
      padding-bottom: 24px;
      margin-bottom: 24px;

      @media screen and (width <=768px) {
        padding-bottom: 16px;
        margin-bottom: 16px;
      }
    }
  }

  &__methods-item-name {
    max-width: 320px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;

    @media screen and (width <=768px) {
      font-size: 16px;
    }
  }

  &__methods-item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    max-width: 680px;
    width: 100%;
    margin: 0;

    @media screen and (width <=768px) {
      font-size: 16px;
    }
  }

  &__accent-text {
    margin-bottom: 80px;

    @media screen and (width <=768px) {
      margin-bottom: 48px;
    }
  }

  &__price-title {
    margin-bottom: 40px;
  }

  &__price {
    margin-bottom: 80px;

    @media screen and (width <=768px) {
      margin-bottom: 48px;
    }
  }

  &__price-table,
  &__doctors-title {
    margin-bottom: 16px;

    @media screen and (width <=768px) {
      margin-bottom: 32px;
    }
  }

  &__price-btn {
    width: 100%;
  }

  &__doctors {
    margin-bottom: 120px;

    @media screen and (width <=768px) {
      margin-bottom: 80px;
    }
  }

  &__doctors-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 40px;

    @media screen and (width <=1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (width <=1024px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 32px;
    }

    @media screen and (width <=768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (width <=576px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__doctors-btn {
    width: 100%;
  }

  &__popular-service {
    margin-bottom: 80px;
  }


  &__caries-stages {
    display: flex;
    column-gap: 24px;
    padding: 0;

    @media screen and (width <=1024px) {
      flex-wrap: wrap;
      row-gap: 24px;
    }
  }

  &__caries-stages-item {
    @media screen and (width <=1024px) {
      display: flex;
    }
  }

  &__caries-stages-img {
    margin-bottom: 16px;
    max-width: 166px;

    @media screen and (width <=1024px) {
      margin: 0 16px 0 0;
    }

    @media screen and (width <=768px) {
      max-width: 80px;
      width: 100%;
      flex-shrink: 0;
    }
  }

  &__caries-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 8px;
  }

  &__caries-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
  }

  &__indications {
    display: flex;
    column-gap: 40px;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    @media screen and (width <=1200px) {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &__indications-item {
    border-radius: 8px;
    padding: 24px;
    width: 50%;

    @media screen and (width <=1200px) {
      width: 100%;
    }

    @media screen and (width <=768px) {
      padding: 16px;
    }

    &--blue {
      background-color: rgba(99, 210, 255, 0.2);

      .service-page__indications-title {
        color: #01a0e1;
      }
    }

    &--red {
      background-color: rgba(255, 146, 156, 0.2);

      .service-page__indications-title {
        color: #ea2437;
      }
    }
  }

  &__indications-item-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 67px;

    @media screen and (width <=1200px) {
      margin-bottom: 20px;
    }

    @media screen and (width <=768px) {
      margin-bottom: 10px;
    }
  }

  &__indications-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;

    @media screen and (width <=768px) {
      font-size: 16px;
    }
  }

  &__indications-pic {
    width: 64px;
    height: 64px;

    @media screen and (width <=768px) {
      width: 40px;
      height: 40px;
    }
  }

  &__img-desktop {
    @media screen and (width <=576px) {
      display: none;
    }
  }

  &__img-mobile {
    display: none;
    margin: 0 auto;

    @media screen and (width <=576px) {
      display: block;
    }
  }
}
