.doctors-list {
  /* Анимация для новых карточек */

  &__item {
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards;

    &--hidden {
      display: none;
    }

    &--new-item {
      animation: fadeInUp 0.5s ease forwards;
    }

    &:nth-child(1) {
      animation-delay: 0.1s;
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.3s;
    }
    &:nth-child(4) {
      animation-delay: 0.4s;
    }
    &:nth-child(5) {
      animation-delay: 0.5s;
    }
    &:nth-child(6) {
      animation-delay: 0.6s;
    }
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
